<div class="chat-container">
    <div class="row row-chat">
        <div class="col-chat col-3">
            <div class="users-header">
                <h5>Users Online</h5>
            </div>
                <div id="usersList"></div>
        </div>
        <div class="col-chat col-9">
            <div class="chat-header">
                <h5>Chat</h5>
            </div>
            <div class="chat-window">
                <div id="messageLogs"></div>
            </div>
            <div class="chat-input-container">
                <input type="text" placeholder="Write a message..." name="message" id="chatBox"/>
            </div>
        </div>
    </div>
</div>